on: push
name: Build and Release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.0'
      - run: go version
      - run: go mod tidy
      - run: go build -o vault-pki-exporter cmd/main.go
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: vault-pki-exporter