name: Automated tests

on:
  # allow this workflow to be called from other workflows
  workflow_call:
  # Run tests for any PRs.
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build image
        run: docker compose build

      - name: Download venom
        run: curl https://github.com/ovh/venom/releases/download/v1.1.0/venom.linux-amd64 -L -o /usr/local/bin/venom && chmod +x /usr/local/bin/venom

      - name: Run test
        run: venom run tests.yml